h1,h2,h3,h4,h5,h6 {
  font-family: 'Inter', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}

body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  background: radial-gradient(ellipse at right bottom, #EEB1BF 5%, #d42dab 25%, #4d1d63 50%, #030243 100%);
}

.card-link {
  text-decoration: none;
}
