<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PROMINENCE: enabling HTC & HPC applications across private, academic and public clouds">
    <title>PROMINENCE</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  </head>
  <body>
    <div class="container">
      <br/>
      <h3>Prominence</h3>
      <p>{{ message }}</p>
    </div>
  </body>
</html>
