<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
</head>
<body>
  <div class="container py-6 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-8 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 0.5rem;">
          <div class="card-body p-5">

            <h5 class="mb-5 text-center">Sign in to Prominence</h5>

              <p class="card-text">This service requires access to the following information from your <a href="https://www.egi.eu/services/check-in/">EGI Check-in</a> account:</p>
              <ul class="list-group">
                <li class="list-group-item">EGI User ID</li>
              </ul>

            <a href="/authorise" class="mt-5 mb-5 btn btn-warning w-100" type="submit">Login</a>
    <center><a href="https://prominence.readthedocs.io" class="card-link text-muted">Documentation</a>
<a href="#" class="card-link text-muted">Terms of use</a>
<a href="/privacy-policy" class="card-link text-muted">Privacy Policy</a></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
