<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PROMINENCE: enabling HTC & HPC applications across private, academic and public clouds">
    <title>PROMINENCE</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100" style="background-image: url('https://prominence-eosc.github.io/docs/prominence.png');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
          <div class="card bg-light">
            <div class="card-body">
              <h1 class="card-title">Prominence</h1>
              <p class="card-text">This service requires the following permissions for your EGI Check-in account:</p>
              <ul class="list-group">
                <li class="list-group-item">log in using your identity</li>
                <li class="list-group-item">access your info while not being logged in</li>
                <li class="list-group-item">read your email address</li>
                <li class="list-group-item">read your basic profile info</li>
                <li class="list-group-item">read your federated identity for research and education</li>
              </ul>
              <br/>
              <a href="/authorise" class="btn btn-primary">Authorise</a>
              <div class="text-center">
                <p class="mt-5 mb-3"><a href="/terms-of-service">Terms of service</a> | <a href="/service-level-agreement">Service level agreement</a> | <a href="https://prominence.readthedocs.io">Documentation</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
